:root {
    --padding: 10px;
    --margin: 5px;
    --largesize: 16px;
    --mediumsize: 13px;
    --smallsize: 11px;
}

html, body {
    margin: 0;
    background-color: #000000;
    padding: var(--padding);
}

.padding {
    padding: var(--padding);
}


.width-tiny {
    min-width: 100px;
    max-width: 100px;
}

.width-small {
    min-width: 200px;
    max-width: 200px;
}

.width-medium {
    min-width: 300px;
    max-width: 300px;
}

.width-large {
    min-width: 400px;
    max-width: 400px;
}

.full {
    width: 100%;
}

.floatRight {
    float:right;
}

.pico {
    width: 18px;
}

.uncommon {
    color: #1eff00;
    font-weight: bold;
}

.common {
    color: #ffffff;
    font-weight: bold;
}

.rare {
    color: #0070dd;
    font-weight: bold;
}

.epic {
    color: #a335ee;
    font-weight: bold;
}

.legendary {
    color: #ff8000;
    font-weight: bold;
}