:root {
    --padding: 10px;
    --margin: 5px;
    --largesize: 16px;
    --mediumsize: 13px;
    --smallsize: 11px;
}

html, body {
    margin: 0;
    padding: var(--padding);
}

.padding {
    padding: var(--padding);
}

.wider {
    min-width: 300px;
}

.fullwidth {
    width: 100%;
}

.floatRight {
    float:right;
}
