<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="initial-scale=1">
    <title>WoW Classic Formula</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="style.css">

    <script type="text/javascript" src="wowclassicformula.js"></script>
</head>
<body>


<div id="content" class="padding"></div>

</body>
</html>